<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs" ng-if="credential.user.permiso.menus[3].visible">
    <span translate="aside.nav.components.COMPONENTS">Gestion de usuario</span>
  </li>
  <li ng-if="credential.user.permiso.menus[3].visible">
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-th"></i>
      <span>Usuario</span>
    </a>
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a ui-sref="app.page.clientes">
          <span translate="aside.nav.USUARIO">Usuario</span>
        </a>
      </li>
    </ul>
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a ui-sref="app.page.permisos">
          <span translate="aside.nav.Sistema.Permisos">Permisos</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.page.roles">
          <span translate="aside.nav.Sistema.Roles">Roles</span>
        </a>
      </li>
    </ul>
  </li>
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs" ng-if="credential.user.permiso.menus[2].visible">
    <span translate="aside.nav.components.DOGGESTION" >Gestion de Documentos</span>
  </li>
  <li ng-if="credential.user.permiso.menus[2].visible">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-file-pdf-o text-success"></i>
      <span translate="aside.nav.components.Documentar" class="font-bold">Documentacion</span>
    </a>
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a ui-sref="app.page.documentar">
          <span translate="aside.nav.components.NuevaDocumentacion">Documentaciòn</span>
        </a>
        <a ui-sref="app.page.documentaciones">
          <span translate="aside.nav.components.Buscar">Buscar</span>
        </a>
        <a ui-sref="app.page.estadoDocumento">
          <span translate="aside.nav.components.EstadoDocumento">Estados de Documentos</span>
        </a>
        <a ui-sref="app.page.consecutivo">
          <span translate="aside.nav.components.consecutivo">Consecutivo</span>
        </a>
      </li>
    </ul>
  </li>
  <li ng-class="{active:$state.includes('app.ui')}">
    <ul class="nav nav-sub dk">
      <li>
      </li>
    </ul>
  </li>
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs" ng-if="credential.user.permiso.menus[0].visible">          
    <span translate="aside.nav.your_stuff.YOUR_STUFF">Your Stuff</span>
  </li>  
  <li ng-if="credential.user.permiso.menus[0].visible">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="icon-settings icon text-success"></i>
      <span class="font-bold">Configuraciòn</span>
    </a>
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a ui-sref="app.page.dependencia">
          <span translate="aside.nav.Configuracion.Dependencia">Dependencia</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.page.indices">
          <span translate="aside.nav.Configuracion.Indices">Indices</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.page.plantillas">
          <span translate="aside.nav.Configuracion.Plantilla">Plantillas</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.page.rutas">
          <span translate="aside.nav.Configuracion.Rutas">Rutas</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.page.barrio">
          <span translate="aside.nav.Configuracion.Barrio">Barrio</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.page.banco">
          <span translate="aside.nav.Configuracion.Banco">Banco</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.page.tipo_cliente">
          <span translate="aside.nav.Configuracion.TipoCliente">Tipo de Clientes</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.page.cargo">
          <span translate="aside.nav.Configuracion.Cargo">Cargo</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.page.perfil">
          <span translate="aside.nav.Configuracion.Perfil">Perfil</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.page.iva">
          <span translate="aside.nav.Configuracion.Iva">Iva</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.page.retencion">
          <span translate="aside.nav.Configuracion.Retencion">Retenciòn</span>
        </a>
      </li>
    </ul>
  </li>
    <li>
    <a href class="auto" ng-if="credential.user.permiso.menus[1].visible">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="icon-wrench icon text-success"></i>
      <span translate="aside.nav.Empresa.Empresa" class="font-bold">Empresa</span>
    </a>
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a ui-sref="app.page.empresas">
          <span translate="aside.nav.Empresa.Empresa">Empresa</span>
        </a>
      </li>
    </ul>
  </li>
</ul>
<!-- / list -->
