<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Cliente - {{cliente.nombre || cliente.representanteLegal}} {{cliente.apellido || ''}}</h1>
      <ul class="breadcrumb">
          <li><a href=""><i class="fa fa-home"></i> Panel</a></li>
          <li><a href="">Cliente</a></li>
          <li class="active">Editar Cliente</li>
    </ul>
</div>
<div class="wrapper-md" ng-init="load()">
<div class="row">
<div class="row">
    <div ng-class="$root.cropped ? 'col-lg-9' : 'col-lg-12'">
        <form name="form-contact" class="form-validation">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="h4">Edicion</span>
            </div>
            <div class="panel-body">
            <div class="col-sm-3">
                <ng-document ng-label="Documento" ng-placeholder="Tipo de Documento"></ng-document>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                  <label>Numero de Documento</label>
                  <input type="text" class="form-control" placeholder="Numero" ng-model="cliente.documento">
                </div>
            </div>
            <div class="col-sm-3">
                <ng-client-status ng-label="Estado Cliente" ng-placeholder="Estado"></ng-client-status>
            </div>
            <div class="col-sm-3">
                <ng-client-type ng-label="Tipo de Cliente" ng-placeholder="Tipo de Cliente" ></ng-client-type>
            </div>  
            <div class="col-12" ng-show="$root.document != 'NIT'">
                <div class="col-lg-6">
                    <div class="form-group">
                      <label>Nombres</label>
                      <input type="text" class="form-control" placeholder="nombres" ng-model="cliente.nombre">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                      <label>Apellidos</label>
                      <input type="text" class="form-control" placeholder="Apellidos" ng-model="cliente.apellido">
                    </div>
                </div>
            </div>
            <div class="col-12" ng-show="$root.document == 'NIT'">
                <div class="col-lg-6">
                    <div class="form-group">
                      <label>Razòn Social</label>
                      <input type="text" class="form-control" placeholder="Razòn Social" ng-model="cliente.razonSocial">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                      <label>Representante Legal</label>
                      <input type="text" class="form-control" placeholder="Representante Legal" ng-model="cliente.representanteLegal">
                    </div>
                </div>
            </div>            
            <div class="col-lg-12">
              <div class="tab-container">
                  <ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}">
                      <li ng-class="{active: tab == 'personal'}">
                          <a href="" ng-click="tab = 'personal'"><tab-heading >Informaciòn Personal</tab-heading></a>
                      </li>
                      <li ng-class="{active: tab == 'residencial'}">
                          <a href="" ng-click="tab = 'residencial'">
                              <tab-heading class="ng-scope">Informaciòn Residencial</tab-heading></a>
                      </li>
                      <li ng-class="{active: tab == 'adicional'}">
                          <a href="" ng-click="tab = 'adicional'">
                          <tab-heading class="ng-scope">Informaciòn Adicional</tab-heading></a>
                      </li>
                </ul>
                  <div class="tab-content" ng-switch on="tab">
                      <div class="tab-pane active" ng-switch-when="personal">
                        <div class="col-lg-12">
                              <div class="col-sm-3">
                              <ng-birthday ng-label="Fecha Nacimiento"></ng-birthday>
                              </div>
                              <div class="col-sm-3">
                                  <ng-gender ng-label="Sexo" ng-placeholder="Sexo" ng-model="cliente.genero"></ng-gender>
                              </div>
                              <div class="col-sm-3">
                                  <ng-marital-status ng-label="Estado Civil" ng-placeholder="Estado Civil" ng-model="cliente.estadoCivil"></ng-marital-status>
                              </div>
                              <div class="col-sm-3">
                                  <ng-education-level ng-label="Nivel Educativo" ng-placeholder="Nivel" ng-model="cliente.nivelEducativo"></ng-education-level>
                              </div>                          
                        </div>
                        <div class="col-lg-12">
                              <div class="col-sm-4">
                                  <ng-regime ng-label="Regimen" ng-placeholder="Regimen" ng-model="cliente.regimen"></ng-regime>
                              </div>
                              <div class="col-sm-4">
                                  <ng-taxpayer-type ng-label="Contribuyente" ng-placeholder="Tipo Contribuyente"></ng-taxpayer-type>
                              </div>
                              <div class="col-sm-4">
                                  <div class="form-group">
                                    <label>Correo</label>
                                    <input type="text" class="form-control" placeholder="Correo" ng-model="cliente.metadata.email">
                                  </div>
                              </div>
                              <div class="col-sm-3">
                                  <div class="form-group">
                                    <label>Sitio Web</label>
                                    <input type="text" class="form-control" placeholder="Sitio Web" ng-model="cliente.metadata.sitioWeb">
                                  </div>
                              </div>
                              <div class="col-sm-3">
                                <ng-cellular-book></ng-cellular-book>
                              </div>
                              <div class="col-sm-3">
                                  <div class="form-group">
                                    <ng-phone-book></ng-phone-book>
                                  </div>
                              </div>
                               <div class="col-sm-3">
                                <ng-fax-book></ng-fax-book>
                              </div>
                              <div class="col-sm-3">
                                <div class="form-group">
                                  <label>Fotografia</label>
                                   <input type="file" id="fileInput" ng-image-picker ng-controller="clienteController"/>
                                </div>
                              </div>
                        </div>
                      </div>
                      <div class="tab-pane active" ng-switch-when="residencial">
                      <div class="col-lg-12">
                        <div class="col-lg-6">
                              <ng-country-field ng-model="cliente.location" ng-disabled="true" ng-label="Pais" ng-placeholder="Elija el Pais" ng-disabled="false"></ng-country-field>
                              <ng-location
                                  ng-model="cliente"
                                  ng-placeholder-municipio="Ciudad" 
                                  ng-label-departamento="Departamento" 
                                  ng-label-municipio="Municipio" 
                                  ng-placeholder-departamento="Departamento" 
                                  ng-label-barrio="Barrio" 
                                  ng-placeholder-barrio="Barrio" >
                              </ng-location>

                        </div>
                        <div class="col-lg-6">
                              <div class="col-lg-6">
                                  <div class="form-group">
                                    <label>Direcciòn</label>
                                    <input type="text" class="form-control" placeholder="Direcciòn" ng-model="cliente.metadata.direccion">
                                  </div>
                              </div>
                              <div class="col-lg-6">
                                  <ng-stratum ng-label="Estrato" ng-placeholder="Estrato" ng-model="cliente.estrato"></ng-stratum>
                              </div>                          
                        </div>
                      </div>
                      </div>
                      <div class="tab-pane active" ng-switch-when="adicional">
                      <div class="col-lg-12">
                            <div class="col-sm-3">
                              <ng-enterprise ng-model="cliente.empresa" ng-label="Empresa" ng-placeholder="Empresa"></ng-enterprise>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label class="col-sm-2 control-label">¿Sucursal?</label>
                                <div class="col-sm-10">
                                  <label class="i-switch m-t-xs m-r">
                                    <input type="checkbox" checked ng-model="cliente.metadata.sucursal">
                                    <i></i>
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-3">
                                <ng-line-price ng-label="Linea de Precios" ng-placeholder="Linea" ng-model="cliente.LineaPrecio"></ng-line-price>
                            </div>
                            <div class="col-sm-3">
                              <label>Puntos</label>
                              <input type="number" class="form-control" placeholder="Puntos" ng-model="cliente.puntos">
                            </div>
                      </div>
                      <div class="col-lg-12">
                          <div class="col-sm-3">
                            <ng-office ng-label="Cargo" ng-placeholder="Cargo"></ng-office>
                          </div>
                          <div class="col-sm-3">
                            <ng-profile ng-label="Perfil" ng-placeholder="Perfil"></ng-profile>
                          </div>
                          <div class="col-sm-3">
                              <div class="form-group">
                                <label>Creditos</label>
                                <input type="text" class="form-control" placeholder="Creditos" ng-model="cliente_actual.Creditos">
                              </div>
                          </div>
                      </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-lg-12">

            </div>
            </div>
            <footer class="panel-footer text-right bg-light lter">
              <a sref="app.page.clientes" href="#/app/page/clientes" type="button" class="btn btn-warning">Cancelar</a>
              <button ng-disabled="!credential.user.permiso.formularios[10].permisos.W" type="button" class="btn btn-primary" ng-click="Update()">Actualizar</button>
            </footer>
          </div>
        </form>
    </div>
    <div class="col-lg-3 animated fadeInRight" ng-show="$root.cropped">
      <div class="inline bg-white wrapper-sm b-a">
        <div class="bg-light">
          <img ng-src="{{$root.cropped}}">
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
