<!-- hbox layout -->
<div class="hbox hbox-auto-xs hbox-auto-sm bg-light" style="height:1000px;" ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;Load();
  ">
  <!-- column -->
  <div class="col w b-r">
    <div class="vbox">
    <div class="wrapper-md dker d-b">
      <h3 class="m-n font-thin w-c"><span class="badge badge-sm up bg-danger pull-right-xs ng-binding">{{numPages}}</span> Paginas</h3>
    </div>
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner text-center">
            <div class="list-group no-radius no-border no-bg m-b-none">

            </div>
            <div class="list-group no-radius no-border no-bg m-b-none" ng-init="setPage(1)">
              <div ng-repeat="page in pages" class="file" ng-click="setPage(page)" ng-class="{ focus : page.pageNumber == $parent.selected}">
                <div class="icon">
                  <img src="assets/img/pdf.png">
                </div>
                <div class="name">Pagina {{page.pageNumber}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /column -->
  <!-- column -->
  <div class="col bg-white-only">
    <div class="vbox">
      <div class="wrapper-md bg-light dk b-b">
        <button class="pull-right btn btn-sm btn-success" ng-click="build()"><i class="fa fa-edit"></i>Guardar</button>        
        <h3 class="m-n font-thin">Pagina Actual</h3>
      </div>
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner">
              <div class="col-lg-12 text-center m-t">
                <div ng-click="getPosition($event)" id="canvasWrap" style="float:left;height:1000px; cursor:crosshair;" >
                    <img 
                        ng-containment="parent"
                        ng-x="sign.offsetX"
                        ng-y="sign.offsetY"
                        ng-draggable ng-repeat="sign in getSigns(selected)"
                        id="drag" 
                        ng-src="{{sign.sign}}" 
                        ng-style="{
                          'position' : 'absolute',
                          'display'  : 'inline-block',
                          'left'     : sign.offsetX,
                          'top'      : sign.offsetY
                          }"
                        >
                  <canvas id="the-canvas" height="1000", width="700" >              
                  </canvas>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /column -->
</div>
<!-- /hbox layout -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<ng-page-pdf ng-page="page" ng-signs="signs" ng-selector="{{page.pageNumber}}" ng-repeat="page in pages" ></ng-page-pdf> 
<script type="text/ng-template" id="sign.html">
  <div ng-include="'tpl/modals/sign.html'"></div>
</script> 
