<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Plataforma</h1>
</div>
<div class="wrapper-md" ng-init="Load()">
<div class="row">
<div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Bancos</div>
        <div class="panel-body">
          <form role="form" name="bancoForm">
            <div class="form-group">
              <label>Banco</label>
              <input type="text" class="form-control" placeholder="Banco" ng-model="banco" required/>
            </div> 
            <p class="pull-right">
              <button type="submit" ng-disabled="!bancoForm.$valid || !credential.user.permiso.formularios[5].permisos.W" class="btn btn-sm btn-info" ng-click="Create()">Crear</button>
            </p>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Lista de Bancos</div>
          <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                  <thead>
                    <tr>
                      <th>Banco</th>
                      <th class="pull-right">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-show="!bancos || bancos.length == 0" ><td colspan="2" class="text-center"><i class="fa fa-exclamation-circle"></i> No se produjeron resultados.</td></tr>
                    <tr ng-show="bancos.length  > 0" ng-repeat="banco in bancos">
                        <td>{{banco.nombre}}</td>
                        <td class="pull-right">
                            <button ng-disabled="!credential.user.permiso.formularios[5].permisos.W" type="submit" class="btn btn-sm btn-info" ng-click="Update(banco)"><i class="fa fa-edit"></i></button>
                            <button ng-disabled="!credential.user.permiso.formularios[5].permisos.D" type="submit" class="btn btn-sm btn-info" ng-click="Del(banco)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                  </tbody>
                </table>
            </div>
      </div>
      </div>
    </div>
  </div>
  </div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<script type="text/ng-template" id="confirm.html">
  <div ng-include="'tpl/modals/confirm/confirm.html'"></div>
</script>
<script type="text/ng-template" id="editar_banco.html">
  <div ng-include="'tpl/modals/editar_banco.html'"></div>
</script>    