<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Plataforma</h1>
</div>
<div class="wrapper-md" ng-init="load()">
<div class="row">
<div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Perfil</div>
        <div class="panel-body">
          <form role="form" name="perfilForm">
            <div class="form-group">
              <label>Perfil</label>
              <input type="text" class="form-control"  ng-pattern="/^(\D)+$/" name="nombre" placeholder="Perfil" ng-model="perfil.nombre" required>
              <span class="help-block" style="color:#ee3939;" ng-show="perfilForm.nombre.$dirty && perfilForm.nombre.$invalid"><i class="fa fa-exclamation-circle"></i> Solo se aceptan Letras.<br></span>
            </div>
            <button type="button" ng-disabled="!perfilForm.$valid" class="btn btn-sm btn-primary" ng-click="create()">Crear</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Lista de perfiles</div>
          <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                  <thead>
                    <tr>
                      <th>Perfil</th>
                      <th class="pull-right">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="perfil in perfiles">
                        <td>{{perfil.nombre}}</td>
                        <td class="pull-right">
                            <button type="submit" class="btn btn-sm btn-info" ng-click="Update(perfil)"><i class="fa fa-edit"></i></button>
                            <button type="submit" class="btn btn-sm btn-danger" ng-click="del(perfil)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                  </tbody>
                </table>
            </div>
      </div>
    </div>
  </div>
  </div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<script type="text/ng-template" id="confirm.html">
  <div ng-include="'tpl/modals/confirm/confirm.html'"></div>
</script>
<script type="text/ng-template" id="editar_perfil.html">
  <div ng-include="'tpl/modals/editar_perfil.html'"></div>
</script>    
