<div class="modal-body" ng-init="Load();">
  <div class="row">
  <div class="col-lg-12">
      <h3 class="m-t-none m-b font-thin">Correspondencias</h3>
  </div>
  <div class="col-lg-12">
      <p>Envia multiples archivos a tus destinatarios.</p>
  </div>
      <form role="form" >
      <div class="col-lg-12">
        <div class="form-group">
          <label>Asunto</label>
          <input type="text" class="form-control" placeholder="Asunto" ng-model="correspondencia.asunto" />
        </div>
      </div>
      <div class="col-lg-3">
          <div class="form-group">
            <a href="" class="text-info" >[+] Nuevo Contacto</a>
          </div>        
      </div>
      <div class="col-lg-3">
        <div class="form-group">
            <a href="" class="text-info" ng-click="formClient()">[+] C. Existente</a>
        </div>        
      </div>
      <div class="col-lg-3">
        <div class="form-group">
            <a href="" class="text-info" ng-click="showFiles = showFiles ? false : true">[+] Ver Adjuntos</a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
            <a href="" class="text-info" ng-click="showContactos = showContactos ? false : true">[+] Ver Contacto<span class="badge badge-sm up bg-success pull-right-xs ng-binding">{{correspondencia.contactos.length}}</span></a>
        </div>
      </div>
      <div class="col-lg-12" ng-show="showContactos">
          <div class="table-responsive m_b">
                <table class="table table-striped b-t b-light">
                  <thead>
                    <tr>
                      <th>Email</th>
                      <th class="pull-right">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-show="correspondencia.contactos.length == 0" ><td colspan="5" class="text-center"><i class="fa fa-exclamation-circle"></i> No has agregado ningun contacto.</td></tr>
                    <tr ng-show="correspondencia.contactos.length  > 0" ng-repeat="contacto in correspondencia.contactos">
                        <td>{{contacto}}</td>
                        <td class="pull-right">
                            <button type="submit" class="btn btn-sm btn-info" ng-click="RemoveContacto(contacto)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                  </tbody>
                </table>
            </div>
      </div>
      <div class="col-lg-12" ng-show="showFiles">
      <div class="table-responsive m_b">
            <table class="table table-striped b-t b-light">
              <thead>
                <tr>
                  <th>Archivo</th>
                  <th>Tamaño</th>
                  <th class="pull-right">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-show="myFiles.length == 0" ><td colspan="5" class="text-center"><i class="fa fa-exclamation-circle"></i> No has agregado ningun archivo.</td></tr>
                <tr ng-show="myFiles.length  > 0" ng-repeat="file in myFiles">
                    <td>{{file.name}}</td>
                    <td>{{file.size}}</td>
                    <td class="pull-right">
                        <button type="submit" class="btn btn-sm btn-info" ng-click="removeFile(file)"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="form-group">
          <label for="mensaje">Mensaje:</label>
          <textarea class="form-control" style="resize:none;" rows="5" ng-model="correspondencia.mensaje" id="mensaje"></textarea>
        </div>
      </div>
        <div class="col-lg-12">
          <p class="pull-right">
            <button type="submit" class="btn btn-sm btn-info" ng-click="$parent.ok()">OK</button>
            <button type="submit" class="btn btn-sm btn-info" ng-click="$parent.$close()">Cancel</button>
          </p>          
        </div>
      </form>
  </div>
</div>
<script type="text/ng-template" id="listado_cliente.html">
  <div ng-include="'tpl/modals/listado_cliente.html'"></div>
</script>