<div class="modal-body wrapper-lg">
  <div class="row">
      <h3 class="m-t-none m-b font-thin">Documentar</h3>
      <form role="form" name="documentarForm">
      <div class="col-lg-12" ng-repeat="indice in setRuta.plantilla.indice">
        <div class="form-group">
          <label>{{indice.nombre}}</label>
          <input type="text" class="form-control" placeholder="{{indice.nombre}}" ng-pattern="/^[a-zA-Z\s]+$/" name="nombre" ng-model="indice.value" ng-if="indice.tipo == 'Texto'" maxlength="{{indice.longitud}}" required/>
          <div ng-if="indice.tipo == 'Fecha'" >
              <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="indice.value" is-open="$parent.$parent.$parent.opened" datepicker-options="dateOptions" close-text="Cerrar"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
          </div>
          <input type="number" class="form-control" placeholder="{{indice.nombre}}" name="nombre" ng-model="indice.value"  ng-if="indice.tipo == 'Numero'" maxlength="{{indice.longitud}}" required/>
          <input type="text" class="form-control" placeholder="{{indice.nombre}}" ng-pattern="/^[a-zA-Z\s]+$/" name="nombre" ng-model="indice.value" required ng-if="indice.tipo == 'Alpha'" maxlength="{{indice.longitud}}" required/>
        </div>              
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label>Rutas</label>
            <ui-select ng-model="$parent.$parent.dest" theme="bootstrap">
              <ui-select-match placeholder="Rutas">{{$parent.dest.path}}</ui-select-match>
              <ui-select-choices group-by="'group'" repeat="ruta in setRuta.path | filter: $select.search">
                <span ng-bind-html="ruta.path | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
        </div>        
      </div>
        <p class="pull-right">
          <button type="submit" ng-disabled="!documentarForm.$valid" class="btn btn-sm btn-primary" ng-click="$parent.ok()">Subir</button>
          <button type="submit" ng-disabled="!documentarForm.$valid" class="btn btn-sm btn-warning" ng-click="$close()">Cancelar</button>
        </p>
      </form>
  </div>
</div>
