<div class="modal-body">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="m-t-none m-b font-thin">Ediciòn de Cargo</h3>
    </div>
      <form role="form" name="cargoEdit">
      <div class="col-lg-12">
          <div class="form-group">
            <label>Cargo</label>
            <input type="text" class="form-control" ng-model="setCargo.nombre" placeholder="Cargo" required>
          </div>        
      </div>
      <div class="col-lg-12">
        <p class="pull-right">
          <button type="submit" ng-disabled="!cargoEdit.$valid || !credential.user.permiso.formularios[17].permisos.W" class="btn btn-sm btn-info" ng-click="$parent.ok()">OK</button>
          <button type="submit" class="btn btn-sm btn-info" ng-click="$parent.$close()">Cancelar</button>
        </p>        
      </div>
      </form>
  </div>
</div>