<div class="modal-body">
  <div class="row">
  <div class="col-lg-12">
      <h3 class="m-t-none m-b font-thin">Ediciòn de Indice</h3>
  </div>
  <form role="form" name="indiceForm">
  <div class="col-lg-12">
    <div class="form-group">
      <label>Indice</label>
      <input type="text" class="form-control" placeholder="Indice" ng-model="setIndice.nombre" required/>
    </div>               
  </div>
    <div class="col-lg-3">
      <div class="radio">
      <label class="i-checks">
        <input type="radio" name="a" value="Texto" ng-model="setIndice.tipo">
        <i></i>
        Texto
      </label>
    </div>
    </div>
    <div class="col-lg-3">
        <div class="radio">
          <label class="i-checks">
            <input type="radio" name="a" value="Numerico" ng-model="setIndice.tipo"><i></i>Numerico
          </label>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="radio">
          <label class="i-checks">
            <input type="radio" name="a" value="Fecha" ng-model="setIndice.tipo"><i></i>Fecha
          </label>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="radio">
          <label class="i-checks">
            <input type="radio" name="a" value="Alpha" ng-model="setIndice.tipo"><i></i>alpha.
          </label>
        </div>
    </div>
    <div class="col-lg-12" ng-show="setIndice.tipo != 'Fecha'">
        <div class="form-group">
          <label>Tamaño</label>
          <input type="text" class="form-control" placeholder="Tamaño de caracteres" ng-model="setIndice.longitud" required/>
        </div>                 
    </div>
    <div class="col-lg-12">
      <p class="pull-right">
        <button type="submit" ng-disabled="!indiceForm.$valid" class="btn btn-sm btn-primary" ng-click="ok()">Actualizar</button>
        <button type="submit" ng-disabled="!indiceForm.$valid" class="btn btn-sm btn-warning" ng-click="$close()">Cancelar</button>
      </p>      
    </div>
  </form>
  </div>
</div>
