<div class="modal-body" ng-init="Load()">
  <div class="row">
  <div class="col-lg-12">
      <h3 class="m-t-none m-b font-thin">Ediciòn de Indice</h3>
  </div>
          <form role="form" name="plantillasForm">
          <div class="col-lg-10">
            <div class="form-group">
              <label>Plantilla</label>
              <input type="text" class="form-control" placeholder="Plantilla" ng-model="setPlantilla.nombre" required/>
            </div>               
          </div>
          <div class="col-lg-2">
            <div class="form-group">
              <label>Estado</label>
                <label class="i-switch m-t-xs m-r">
                  <input type="checkbox" checked ng-model="setPlantilla.estado">
                  <i></i>
                </label>
            </div>
          </div>
          <div class="col-lg-12">
          <div class="table-responsive m_b">
                <table class="table table-striped b-t b-light">
                  <thead>
                    <tr>
                      <th>Indice</th>
                      <th>Tipo</th>
                      <th>Longitud</th>
                      <th class="pull-right">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-show="!indices" ><td colspan="5" class="text-center"><i class="fa fa-exclamation-circle"></i> No se produjeron resultados.</td></tr>
                    <tr ng-show="indices.length  > 0" ng-repeat="indice in $parent.setPlantilla.indice">
                        <td>{{indice.nombre}}</td>
                        <td>{{indice.tipo}}</td>
                        <td>{{indice.longitud}}</td>
                        <td class="pull-right">
                            <button type="submit" class="btn btn-sm btn-danger" ng-click="Del(indice)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group" >
              <label>Plantillas</label>
              <ui-select on-select="onSelect($item, $model)" ng-model="$parent.$parent.indice" theme="bootstrap" ng-disabled="disabled">
                  <ui-select-match placeholder="Elija los indices...">{{$parent.indice.nombre}}</ui-select-match>
                  <ui-select-choices repeat="indice in indices | propsFilter: {nombre: $select.search, tipo: $select.search}">
                    <div ng-bind-html="indice.nombre | highlight: $select.search"></div>
                    <small>
                      tipo de dato: <span ng-bind-html="''+indice.tipo | highlight: $select.search"></span>
                    </small>
                  </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="col-lg-12">
            <p class="pull-right">
              <button type="submit" ng-disabled="!plantillasForm.$valid" class="btn btn-sm btn-primary" ng-click="ok()">Crear</button>
              <button type="submit" ng-disabled="!plantillasForm.$valid" class="btn btn-sm btn-warning" ng-click="$close()">Cancelar</button>
            </p>            
          </div>
          </form>
  </div>
</div>
