<div class="modal-body">
  <div class="row">
  <div class="col-lg-12">
      <h3 class="m-t-none m-b font-thin">Ediciòn Tipo Clientes</h3>    
  </div>

    <form role="form" name="tipoClientesForm">
    <div class="col-lg-10">
      <div class="form-group">
        <label>Descripciòn</label>
        <input type="text" class="form-control" placeholder="Descripciòn" ng-model="setTipoCliente.descripcion" required>
      </div>           
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <label>Estado</label>
          <label class="i-switch m-t-xs m-r">
            <input type="checkbox" checked ng-model="setTipoCliente.estado">
            <i></i>
          </label>
      </div>
    </div>
    <div class="col-lg-12">
        <p class="pull-right">
          <button type="submit" ng-disabled="!tipoClientesForm.$valid || !credential.user.permiso.formularios[6].permisos.W" class="btn btn-sm btn-info" ng-click="ok()">Actualizar</button>
        </p>          
    </div>
    </form>
  </div>
</div>