<div class="modal-body">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="m-t-none m-b font-thin">Documentar</h3>
    </div>
      <form role="form" name="documentarForm" autocomplete="on">
      <div class="col-lg-12" ng-repeat="indice in setRuta.plantilla.indice">
        <div class="form-group">
          <label>{{indice.nombre}}</label>
          <input 
            type="text"
            class="form-control"
            tabIndex="{{$index}}"
            placeholder="{{indice.nombre}}"
            ng-pattern="/^[a-zA-Z\s]+$/"
            ng-is
            name="nombre"
            ng-model="indice.value"
            ng-if="indice.tipo == 'Texto'"
            maxlength="{{indice.longitud}}"
            ng-required="{{indice.requerido}}"
            autocomplete="on"

            />
          <div ng-if="indice.tipo == 'Fecha'">
              <p class="input-group">
                <input 
                ng-init="field.opened = false;"
                type="text" 
                class="form-control" 
                datepicker-popup="dd-MMMM-yyyy" 
                ng-model="indice.value" 
                is-open="field.opened" 
                ng-required="indice.requerido"
                datepicker-options="{formatYear: 'yy', startingDay: 1 }" close-text="Cerrar"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event, field)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
          </div>
          <input
           type="text"
           class="form-control"
           placeholder="{{indice.nombre}}"
           ng-pattern="/^[a-zA-Z0-9\s]+$/"
           name="nombre"
           ng-model="indice.value"
           ng-if="indice.tipo == 'Alpha'"
           maxlength="{{indice.longitud}}"
           ng-required="{{indice.requerido}}"
           autocomplete="on"

           />
          <input
           type="text"
           class="form-control"
           placeholder="{{indice.nombre}}"
           ng-pattern="/^[0-9]+$/"
           name="nombre"
           ng-model="indice.value"
           ng-if="indice.tipo == 'Numero'"
           maxlength="{{indice.longitud}}"
           ng-required="{{indice.requerido}}"

           />
           
            <selectize 
              ng-init="makeOptions(indice.opciones)"
              config='{placeholder:"Elija una opción", labelField: "item", valueField: "item", maxItems:1, delimiter :","}' 
              options='options' 

              ng-model="indice.value"
              ng-required ='indice.requerido'
              ng-if="indice.tipo == 'Seleccionable'">
            </selectize>
        </div>              
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label>Rutas</label>
          <input type="text" class="form-control" placeholder="Ruta" ng-model="setRuta.ruta.path" disabled="disabled">
        </div>        
      </div>

      <div class="col-lg-6">
        <div class="form-group">
          <label>Estado</label>
            <ui-select ng-model="setRuta.estado" theme="bootstrap">
              <ui-select-match placeholder="Estado">{{$select.selected.nombre}}</ui-select-match>
              <ui-select-choices group-by="'group'" repeat="estado in $root.credential.user.metadata.misEstados | filter: $select.search">
                <span ng-bind-html="estado.nombre | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
        </div>       
      </div>
      <div class="col-lg-12" ng-init="obtenerCliente(setRuta)">
        <div class="form-group" show="setRuta.plantilla.cliente">
          <label>Cliente</label>
          <input type="text" ng-show="setRuta.plantilla.cliente.nombreCompleto" class="form-control" ng-model="setRuta.plantilla.cliente.nombreCompleto" ng-click="formEditClient()" placeholder="Cliente">

          <input type="text" ng-show="setRuta.plantilla.cliente.representanteLegal"  class="form-control" ng-click="formEditClient()" placeholder="Cliente" ng-model="setRuta.plantilla.cliente.representanteLegal" >

          <input type="text" ng-hide="setRuta.plantilla.cliente.representanteLegal || setRuta.plantilla.cliente.nombreCompleto"  class="form-control" ng-click="formEditClient()" placeholder="Cliente">
        </div>
      </div>
      <div class="col-lg-12">
        <p class="pull-right">
          <button type="submit" ng-disabled="!documentarForm.$valid" class="btn btn-sm btn-info" ng-click="$parent.ok()">Subir</button>
          <button type="submit" ng-disabled="!documentarForm.$valid" class="btn btn-sm btn-info" ng-click="$close()">Cancelar</button>
        </p>        
      </div>
      </form>
  </div>
</div>
