<div class="form-group">
  <label>{{ngLabelDepartamento}}</label>
    <ui-select ng-model="$root.location.departamento" theme="bootstrap">
      <ui-select-match placeholder="{{ngPlaceholderDepartamento}}">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices group-by="'group'" repeat="departamento in departamentos | filter: $select.search">
        <span ng-bind-html="departamento.name | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
</div>
<div class="form-group" ng-show="$root.location.departamento">
  <label>{{ngLabelMunicipio}}</label>
    <ui-select ng-model="$root.location.municipio" theme="bootstrap">
      <ui-select-match placeholder="{{ngPlaceholderMunicipio}}">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices group-by="'group'" repeat="municipio in municipios | filter: $select.search | filter: {code_dpto : $root.location.departamento.code} : true">
        <span ng-bind-html="municipio.name | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
</div>