<div>
  <div class="form-group">
    <label>Telefono</label>
    <div class="input-group">
    <ui-select ng-model="$root.phone" theme="bootstrap">
      <ui-select-match placeholder="Telefonos">{{$root.phone}}</ui-select-match>
      <ui-select-choices group-by="'group'" repeat="phone in phoneBook | filter: $select.search">
        <span ng-bind-html="phone | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
      <span class="input-group-btn">
        <button ng-click="showPhoneBook()" class="btn btn-info">
          <span class="glyphicon glyphicon-edit"></span>
        </button>
      </span>
    </div>
  </div>

  <script type="text/ng-template" id="phoneBook.html">
    <div class="modal-body wrapper-lg">
      <div class="row">
          <h3 class="m-t-none m-b font-thin">Numeros Telefonicos</h3>
          <form role="form" name="phoneBookForm" >
              <div class="form-group">
                <input type="number" class="form-control" placeholder="Numero de Telefono" ng-model="number" required>
              </div>
              <p ng-show="phoneBook.length == 0" class="text-center"><i class="fa fa-exclamation-circle"></i> No existen numeros telefonicos</p>
              <div class="table-responsive" ng-show="phoneBook.length > 0">
                <table class="table table-striped b-t b-light">
                  <thead>
                    <tr>
                      <th>Numero Telefonico</th>
                      <th style="width:30px;"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-show="phoneBook.length > 0" ng-repeat="phone in phoneBook">
                      <td>{{phone}}</td>
                      <td>
                        <a href class="active" ng-click="deletePhoneNumber(phone)" ><i class="icon icon-trash"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <p class="pull-right">
                <button type="submit" ng-disabled="!phoneBookForm.$valid" class="btn btn-sm btn-info" ng-click="addphoneNumber()">Agregar</button>
                <button type="submit" class="btn btn-sm btn-info" ng-click="cancel()">Cerrar</button>        
              </p>
          </form>
      </div>
    </div>
  </script>    
</div>

